.form {
  background-color: #4e9525;
  padding: 2rem;

  input,
  select,
  button {
    margin: 0.25rem;
    width: 100%;
  }

  &__fields {
    display: flex;
    justify-content: space-around;
  }
}
